<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gallery</title>
    <link rel="stylesheet" href="gallery.css">
</head>
<body>
	
	<div class="gallery-banner">
        <img src="https://photos.smugmug.com/photos/i-RkqTzwS/0/Lg4wsf7Bq8bZMN82tRdTpKGfM8krDgcTj9hSChfCw/X4/i-RkqTzwS-X4.jpg" alt="Gallery banner">
    </div>	
    <ul class="gallery">
        <li class="gallery-item">
            <img src="https://photos.smugmug.com/photos/i-npdM5dL/0/KHPwpGpgn7vh8g5tvBjM8VkL4DcVDj8g36FbHS2F4/M/i-npdM5dL-M.jpg" alt="Mimi">
            <span class="gallery-item-label">enjoying a beautiful day</span>
        </li>
        <li class="gallery-item">
            <img src="https://photos.smugmug.com/photos/i-WJc2Ddf/0/MrX7rvB2H3cTFcSzX8gM5L3wGddrN43Jn2X3vjHnt/M/i-WJc2Ddf-M.jpg" alt="Casa">
            <span class="gallery-item-label">view in Puerto Vallarta</span>
        </li>
        <li class="gallery-item">
            <img src="https://photos.smugmug.com/photos/i-pm3hTsT/0/M7zswcrmVZkdVQkcScQDR6XkQ4x7Zg2NNGNTRjdnX/M/i-pm3hTsT-M.jpg" alt="Mimi & Anthony">
            <span class="gallery-item-label">Come with us</span>
        </li>
        <li class="gallery-item">
            <img src="https://photos.smugmug.com/photos/i-ZKFD29v/0/KsQPDK49tffNP9VpwMQnHksWLqmH7LBKML3PGpqkj/M/i-ZKFD29v-M.jpg" alt="Vacation 4">
            <span class="gallery-item-label">view in Puerto Vallarta</span>
        </li>
		<li class="gallery-item">
            <img src="https://photos.smugmug.com/photos/i-r7H4nsF/0/M4VfnKJHGKpZ3tPRkQCPNcZjkVMHSjwbTvvVZdVXx/M/i-r7H4nsF-M.jpg" alt="Vacation 4">
            <span class="gallery-item-label">Devo resting after a running session</span>
        </li>
		<li class="gallery-item">
            <img src="https://photos.smugmug.com/photos/i-jwcjB7g/0/KT856nXsrd7dfWtXFkRXb3TzvCvv5kV3mHQvgPsJx/M/i-jwcjB7g-M.jpg" alt="Vacation 4">
            <span class="gallery-item-label">Bahamas</span>
        </li>
		<li class="gallery-item">
            <img src="https://photos.smugmug.com/photos/i-9pTXPhQ/0/KphMWVQrr5hFcJf8w544BmJPNchpLjx8GF2NGHT24/M/i-9pTXPhQ-M.jpg" alt="Vacation 4">
            <span class="gallery-item-label">calming mood by the lake</span>
        </li>
		<li class="gallery-item">
            <img src="https://photos.smugmug.com/photos/i-CXhQs2g/0/MWrdcktkK6GVPkhKP3VKm6npkz7rwtzNgj9shtP83/M/i-CXhQs2g-M.jpg" alt="Vacation 4">
            <span class="gallery-item-label">natural dolphins sculpture in Zion National Park</span>
        </li>
		
		
		
		
		<li class="gallery-item">
            <img src="https://photos.smugmug.com/photos/i-npdM5dL/0/KHPwpGpgn7vh8g5tvBjM8VkL4DcVDj8g36FbHS2F4/M/i-npdM5dL-M.jpg" alt="Mimi">
            <span class="gallery-item-label">enjoying a beautiful day</span>
        </li>
        <li class="gallery-item">
            <img src="https://photos.smugmug.com/photos/i-WJc2Ddf/0/MrX7rvB2H3cTFcSzX8gM5L3wGddrN43Jn2X3vjHnt/M/i-WJc2Ddf-M.jpg" alt="Casa">
            <span class="gallery-item-label">view in Puerto Vallarta</span>
        </li>
        <li class="gallery-item">
            <img src="https://photos.smugmug.com/photos/i-pm3hTsT/0/M7zswcrmVZkdVQkcScQDR6XkQ4x7Zg2NNGNTRjdnX/M/i-pm3hTsT-M.jpg" alt="Mimi & Anthony">
            <span class="gallery-item-label">Come with us</span>
        </li>
        <li class="gallery-item">
            <img src="https://photos.smugmug.com/photos/i-ZKFD29v/0/KsQPDK49tffNP9VpwMQnHksWLqmH7LBKML3PGpqkj/M/i-ZKFD29v-M.jpg" alt="Vacation 4">
            <span class="gallery-item-label">view in Puerto Vallarta</span>
        </li>
		<li class="gallery-item">
            <img src="https://photos.smugmug.com/photos/i-r7H4nsF/0/M4VfnKJHGKpZ3tPRkQCPNcZjkVMHSjwbTvvVZdVXx/M/i-r7H4nsF-M.jpg" alt="Vacation 4">
            <span class="gallery-item-label">Devo resting after a running session</span>
        </li>
		<li class="gallery-item">
            <img src="https://photos.smugmug.com/photos/i-jwcjB7g/0/KT856nXsrd7dfWtXFkRXb3TzvCvv5kV3mHQvgPsJx/M/i-jwcjB7g-M.jpg" alt="Vacation 4">
            <span class="gallery-item-label">Bahamas</span>
        </li>
		<li class="gallery-item">
            <img src="https://photos.smugmug.com/photos/i-9pTXPhQ/0/KphMWVQrr5hFcJf8w544BmJPNchpLjx8GF2NGHT24/M/i-9pTXPhQ-M.jpg" alt="Vacation 4">
            <span class="gallery-item-label">calming mood by the lake</span>
        </li>
		<li class="gallery-item">
            <img src="https://photos.smugmug.com/photos/i-CXhQs2g/0/MWrdcktkK6GVPkhKP3VKm6npkz7rwtzNgj9shtP83/M/i-CXhQs2g-M.jpg" alt="Vacation 4">
            <span class="gallery-item-label">natural dolphins sculpture in Zion National Park</span>
        </li>
		
		
	
		
		
		
		
	</ul>
	<script src="gallery.js"></script>
</body>
</html>

