body {
	background-color: rgba(0, 0, 0, 1);	
	margin:0;
	padding:0;
}


.gallery-banner {
    height: 350px;
	width: 95%;
	margin: 0 auto;	
	padding: 0 4px;
	overflow: hidden;	
}

.gallery-banner img {
    width: 100%;
    height: 100%;
    z-index: 10;
    object-fit: cover;
    object-position: 50% 78%; 
}

.gallery-banner-label {
    position: relative;
    z-index: 20;
    bottom: 100px;
    margin-left: 12px;
	margin-right: 12px;
    text-align: left;
    color: #DDDDDD;
    background-color: rgba(0, 0, 0, 0.4); 
    padding: 8px 12px;
    border-radius: 12px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 2.5rem;
}


.gallery {
    list-style: none;
    margin: 12px auto;
	width: 95%;
	padding: 0 4px;
	gap: 8px; 
	background-color: rgba(0, 0, 0, 0.8);	
    display: flex;
	flex-direction: row;
    flex-wrap: wrap;    
	box-sizing: border-box;	
}

.gallery-item {
    position: relative;
    display: inline;
}

.gallery-item img {
    height: 200px;
    width: auto;
    display: block;
    box-sizing: border-box;
}

.gallery-item-label {
    position: absolute;
    bottom: 10px;
    left: 10px;
	right: 10px;
    color: #DDDDDD;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 4px 8px;
    border-radius: 4px;
    font-family: sans-serif;
	font-size: 0.75rem;
	opacity: 0;
    transition: opacity 0.8s;
}

.gallery-item:hover .gallery-item-label {
    opacity: 1;
}